
/* styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/main.css */

*{
  margin: 0;
  padding: 0;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(5, 4, 15);
    min-height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;

    
   
  }
  .aboutme{
    background-color: rgb(26, 120, 214);
    height: 35px;
    color: white;
    width: 100px;
    
    border-radius: 10px;
  
  }

  .truncate-text {
    overflow: hidden;        /* Hide any content that overflows the container */
    text-overflow: ellipsis; /* Display an ellipsis (...) for truncated text */
    max-height: 80px;        /* Adjust the max height as needed */
    display: -webkit-box;    /* Required for WebKit (Safari, Chrome) */
    -webkit-line-clamp: 4;  /* Number of lines to show before truncating */
    -webkit-box-orient: vertical; /* Vertical layout for lines */
    word-wrap: break-word;   /* Allow word wrapping */
    overflow-wrap: break-word; /* Allow word wrapping for browsers that support it */
  }
  

.container{
 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .join_area{
   
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

  }
  
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .vertical {
    width: 2px;
    height: 400px;

   
}